In [17]:
# Import the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
dataset = pd.read_csv('C:/Users/muneeba/Desktop/THESIS/DataDistribution/Gaussian3/DataDistributionPCA.csv')
dataset.head()

,Sensor ID,x-cordinate,y-cordinate,Distibution Values,0.2,0.4,0.6,0.8,1,1.2,...,.608,.609,.610,.611,.612,.613,.614,.615,.616,.617
0,1,1,1,7.422726,0.189000,0.184000,0.17600,0.166000,0.153000,0.139000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,3,7.929872,0.157000,0.153000,0.14600,0.138000,0.127000,0.115000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,5,8.414797,0.051500,0.050100,0.04790,0.045100,0.041600,0.037700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,7,8.869475,0.006690,0.006510,0.00622,0.005850,0.005400,0.004880,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,9,9.286063,0.000579,0.000559,0.00052,0.000465,0.000396,0.000317,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
X = dataset.iloc[:, 4:68].values
y = dataset.iloc[:, 0].values

In [19]:
# Split into the Training set and Test set
from sklearn.cross_validation import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.2)

In [20]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Xtrain = sc.fit_transform(Xtrain)
Xtest = sc.transform(Xtest)

In [21]:
# Applying PCA
from sklearn.decomposition import PCA
pca = PCA(n_components = 3)
Xtrain = pca.fit_transform(Xtrain)
Xtest = pca.transform(Xtest)
explained_variance = pca.explained_variance_ratio_

In [22]:
# Train Regression Model with PCA
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(Xtrain, ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [23]:
# Predict Results from PCA Model
ypred = classifier.predict(Xtest)
# Create Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest, ypred)

In [33]:
ytest

array([31, 24, 59, 51,  1, 29, 16,  6,  4, 53, 27, 11, 14], dtype=int64)

In [34]:
ytrain

array([46, 21, 38, 55,  3, 33, 25, 42,  8, 26, 15, 36,  5, 56, 22, 61, 17,
       48, 13, 44, 41, 64, 50, 49,  7, 40, 60, 37,  2, 45, 39, 12, 19, 28,
       30, 62, 34, 18, 57, 63, 23, 58, 43, 54, 35,  9, 10, 32, 20, 52, 47], dtype=int64)